<template>
  <div :class="piece">
    <Pawn v-if="piece == 'p'" />
    <Pawn v-if="piece == 'P'" is-white />
    <Knight v-if="piece == 'r'" />
    <Knight v-if="piece == 'R'" is-white />
    <Queen v-if="piece == 'q'" />
    <Queen v-if="piece == 'Q'" is-white />
    <King v-if="piece == 'k'" />
    <King v-if="piece == 'K'" is-white />
    <Bishop v-if="piece == 'b'" />
    <Bishop v-if="piece == 'B'" is-white />
    <Castle v-if="piece == 'c'" />
    <Castle v-if="piece == 'C'" is-white />
  </div>
</template>
<script>
import Pawn from "./pawn/Pawn";
import Knight from "./knight/Knight";
import Queen from "./queen/Queen";
import King from "./king/King";
import Bishop from "./bishop/Bishop";
import Castle from "./castle/Castle";

export default {
  name: "BasePiece",
  components: {
    Pawn,
    Knight,
    Queen,
    King,
    Bishop,
    Castle,
  },
  props: {
    piece: String,
  },
  data() {
    return {};
  },
  computed: {},
  mounted() {},
  created() {},
  updated() {},
};
</script>
<style scoped>
div {
  display: flex;
  align-items: center;
}
</style>
