<template>
  <ul :id="rowString">
    <Cell
      v-for="(piece, index) in pieces"
      :key="piece"
      :piece="piece"
      :row="rowString"
      :cell="index + 1"
    />
  </ul>
</template>

<script>
import Cell from "../cell/Cell.vue";

export default {
  name: "ChessBoardRow",
  components: {
    Cell,
  },
  props: {
    pieces: [String],
    row: Number,
  },
  data() {
    return {
      rowString: this.numberToBase26(this.row),
    };
  },
  methods: {
    numberToBase26(val, tail = "") {
      if (val <= 26) {
        return `${String.fromCharCode(val + 64)}${tail}`;
      }

      const remainder = val % 26 || 26;
      const division = Math.trunc(val / 26) - (remainder === 26 ? 1 : 0);

      return this.numberToBase26(
        division,
        `${String.fromCharCode(remainder + 64)}${tail}`
      );
    },
  },
};
</script>

<style scoped>
ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>
