<template>
  <div class="board">
    <Row
      v-for="(pieces, index) in board"
      :key="pieces"
      :pieces="pieces"
      :row="index + 1"
    ></Row>
  </div>
</template>

<script>
import Row from "./components/row/Row";
import { mapGetters } from "vuex"; 

export default {
  name: "ChessBoard",
  components: {
    Row,
  },
  computed: {
    ...mapGetters({
      board: 'board',
    }),
  },
};
</script>

<style scoped>
.board {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 680px;
  width: 680px;
}
</style>
<style>
.board ul:nth-child(odd) li:nth-child(odd) {
  background-color: lightgrey;
}
.board ul:nth-child(even) li:nth-child(even) {
  background-color: lightgrey;
}
</style>
