<template>
  <li
    :id="coordinate"
    :class="{ 'is-active': isFocus }"
    @click="setActiveField(coordinate)"
  >
    <Piece :piece="piece" />
  </li>
</template>

<script>
import { mapActions, mapGetters } from "vuex"; 
import Piece from "../pieces/Piece";

export default {
  name: "ChessBoardCell",
  components: {
    Piece,
  },
  props: {
    piece: String,
    row: String,
    cell: Number,
  },
  computed: {
    ...mapGetters({
      activeField: 'activeField'
    }),
    isFocus() {
      return this.activeField === this.coordinate
    },
    coordinate() {
      return this.row + this.cell
    }
  },
  methods: {
    ...mapActions([
      'setActiveField',
    ]),
  },
};
</script>

<style scoped>
li {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}

.is-active {
  border: 2px solid red;
}
</style>
