<template>
  <div :style="isWhite ? white : black"></div>
</template>

<script>
export default {
  name: "PieceBishop",
  props: {
    isWhite: Boolean,
  },
  data() {
    return {
      white: {
        backgroundImage: `url(${require("../../../../../assets/pieces.png")})`,
        backgroundPosition: "175px 0px",
        backgroundSize: "260px 110px",
      },
      black: {
        backgroundImage: `url(${require("../../../../../assets/pieces.png")})`,
        backgroundPosition: "175px 50px",
        backgroundSize: "260px 110px",
      },
    };
  },
};
</script>

<style scoped>
div {
  width: 50px;
  height: 50px;
}
</style>
